internal/test/asl/choice_datatestexpr.json
{
  "Comment": "An example of the Amazon States Language using a choice state.",
  "StartAt": "ChoiceState",
  "States": {
    "ChoiceState": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "input",
          "NumericEquals": 1,
          "Next": "FirstMatchState"
        },
        {
          "Variable": "input",
          "NumericEquals": 2,
          "Next": "SecondMatchState"
        }
      ],
      "Default": "DefaultState"
    },
    "FirstMatchState": {
      "Comment": "Lang=Python",
      "Type": "Task",
      "Resource": "inc",
      "Next": "NextState"
    },
    "SecondMatchState": {
      "Comment": "Lang=Python",
      "Type": "Task",
      "Resource": "double",
      "Next": "NextState"
    },

    "DefaultState": {
      "Comment": "Lang=Javascript",
      "Type": "Task",
      "Resource": "hello",
      "End": true
    },

    "NextState": {
      "Comment": "Lang=Python",
      "Type": "Task",
      "Resource": "inc",
      "End": true
    }
  }
}